@import './base.less';
html,
body {
    height: 100%;
}

#side-left {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    .left-head {
        position: absolute;
        left: 0;
        top: 0;
        >a {
            display: block;
            height: 50px;
            width: 180px;
            background-color: #02CCE2;
            text-align: center;
            line-height: 50px;
            >span {
                font-size: 20px;
                color: #fff;
            }
        }
    }
    .left-body {
        text-align: center;
        height: 100%;
        width: 180px;
        padding-top: 80px;
        background-color: #03B8CC; // padding-top: 10px;
        .icon-icon {
            display: block;
            margin-left: 50px;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background: url('../images/default.png') no-repeat;
            background-size: 80px 80px;
            margin-bottom: 5px;
        }
        >span {
            color: #fff;
            font-size: 14px;
        }
        .manage-list {
            margin-top: 20px;
            >li {
                border: 4px solid transparent;
                line-height: 40px;
                >a {
                    font-size: 14px;
                    color: #fff;
                    >i {
                        margin-right: 5px;
                    }
                }
                &.active {
                    >a {
                        color: hotpink;
                    }
                    border-left: 4px solid hotpink;
                    background-color: #02CCE2;
                }
                &:nth-child(2) {
                    >ol {
                        >li {
                            line-height: 25px;
                            >a {
                                color: #fff;
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
}

#side-right {
    width: 100%;
    height: 100%;
    padding-left: 180px; // background-color: darkgray;
    .top {
        position: absolute;
        right: 0;
        top: 0;
        .glyphicon-fire {
            position: absolute;
            left: 20px;
            top:12px;
        }
        .glyphicon-log-out{
            position: absolute;
            right: 20px;
            top:12px;
        } 
        font-size: 18px;
        padding: 12px 20px 0px 20px;
        color: #fff;
        background-color: darkcyan;
        height: 50px;
        width: 82.5%;
    }
    .side-content {
        padding-top: 50px;
        height: 100%;
        .breadcrumb {
            background-color: #fff;
            border-bottom: 1px solid #CCC;
            >li {
                &:first-child {
                    >a {
                        color: skyblue;
                    }
                }
            }
        }
    }
}